.button {
    background-color: darkslategrey;
    width: 100px;
    height: 120px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-family: sans-serif;
    color: aliceblue;
}

.container {
    margin-top: 5em;
}
